<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ediShippingOrder">
            <h2><span jhiTranslate="eshipperApp.ediShippingOrder.detail.title">Edi Shipping Order</span> {{ ediShippingOrder.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eshipperApp.ediShippingOrder.commissionStatus">Commission Status</span></dt>
                <dd>
                    <div *ngIf="ediShippingOrder.commissionStatusId">
                        <a [routerLink]="['/commission-status', ediShippingOrder.commissionStatusId, 'view']">{{ ediShippingOrder.commissionStatusId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/edi-shipping-order', ediShippingOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
